In [17]:
import pandas as pd
import numpy as np

In [ ]:
# Linhas adicionadas na Tabela 02
# linhas_adicionadas = df_tabela02.difference(df_tabela01)

In [18]:
v001_df = pd.read_csv('EXP diferença de tabelas V001.csv')
v002_df = pd.read_csv('EXP diferença de tabelas V002.csv')
v003_df = pd.read_csv('EXP diferença de tabelas V003.csv')
v004_df = pd.read_csv('EXP diferença de tabelas V004.csv')

# display(v001_df)
# display(v002_df)

In [20]:
# linhas adicionadas em V002

# linhas_adic = v002_df.diff(v001_df)
# display(linhas_adic)

# modificacoes  = v001_df.compare(v004_df)
# display(modificacoes)

display(v001_df)
display(v004_df)
display(v003_df)
display(v002_df)

,Sala,Disciplina,Dia da Semana,Hora de Início,Hora de Término,Professor
0,101,Matemática,Segunda-feira,07:00,08:00,Ana Silva
1,202,Português,Segunda-feira,08:00,09:00,João Souza
2,101,História,Terça-feira,07:00,08:00,Pedro Oliveira
3,202,Ciências,Terça-feira,08:00,09:00,Maria Cardoso
4,101,Inglês,Quarta-feira,07:00,08:00,Roberto Mendes

,Sala,Disciplina,Dia da Semana,Hora de Início,Hora de Término,Professor
0,101,Matemática,Segunda-feira,07:00,08:00,Ana Silva
1,202,Português,Segunda-feira,08:00,09:00,João Souza
2,202,Ciências,Terça-feira,08:00,09:00,Maria Bardoso
3,101,Inglês,Quarta-feira,07:00,08:00,Roberto Mendes

,Sala,Disciplina,Dia da Semana,Hora de Início,Hora de Término,Professor
0,101,Matemática,Segunda-feira,07:00,08:00,Ana Silva
1,202,Português,Segunda-feira,08:00,09:00,João Souza
2,101,História,Terça-feira,07:00,08:00,Pedro Oliveira
3,202,Ciências,Terça-feira,08:00,09:00,Maria Bardoso
4,101,Inglês,Quarta-feira,07:00,08:00,Roberto Mendes

,Sala,Disciplina,Dia da Semana,Hora de Início,Hora de Término,Professor
0,202,Português,Segunda-feira,08:00,09:00,João Souza
1,101,História do Brasil,Terça-feira,07:00,08:00,Paulo José
2,202,Ciências,Terça-feira,08:00,09:00,Maria Cardoso
3,303,Inglês,Sexta-feira,07:00,08:00,Roberto Mendes
4,402,Artes,Quarta-feira,11:00,12:00,Antônio Jorge